/.cache/
/vscode-build/
/build/
/lean/.lake/
/site/books/

*.pdf
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.lof
*.lot
*.pyc
*.idx
*.ind
*.ilg

*.orig
*.rej
*.bak
*.backup
*.save
*.swp
*.swo
*~
.books.yml.*.tmp

.DS_Store
._*
__MACOSX/

tree.txt
