__pycache__/
/vscode-build/
/build/
/lean/.lake/
.ruff_cache/
/site/books/
.latexindent_cache/

*.pdf
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.lof
*.lot
*.pyc
*.idx
*.ind
*.ilg

*.orig
*.rej

tree.txt
